API_ID=20009450
API_HASH=9a601446b607e2fc1baa5b8608b72098
BOT_TOKEN=5987337650:AAGQz62aMDr9WtGy9W47ZlLkoQ3oESbgI-k
LOG_GROUP_ID=-1001605285063
MONGO_DB_URI=mongodb+srv://Shivam00:shivam098@cluster0.8eouzpy.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=˹ᴀɴɢᴇʟ ✘ ᴍᴜsɪᴄ˼ 🫧
OWNER_ID=5242142514
STRING_SESSION=AQAdQtOsv1ZM7C8gtgMMM1DQaEgUqfAGxFyNeRcDKdLGhnN0wH-FDPoPpR3G1FyOd6ijL85MU6z8-0gYvYlYywY7BqbZVFFRn7EYaHlGjcTfKIMLJ0VK8GdaVColfz5IrsT8ucmTG5Q2w63QZCF-H-ve5_-qklqOYQmWZPMaDPa-ZrW4vx5ywAElp5JzF7wNrk5s9XrSxeN4JTasylSloEQBGrikiSIARR4MXrchkadoOIwf0Ujzirdin1mvDlcHiolLqB61wX5k3BDhd-x-O8oa4nuYfrcvaGOkBxa9Siyo46-e8wzREVBdlvklj2h6tJyRmpBygL-d9hCMemt1AAAAAWciq1EA
